@model OurSchedule.Models.Availability

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Availability</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User_Role)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User_Role)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Shift_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Shift_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
